body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

section {
    margin-bottom: 70px;
}

.First-Banner {
    background-image: url(First-Banner.webp)
}

h1 {
    font-size: 80px;
    color: white;
}

.Donation-Intro {
    text-align: center;

}

.Donation-Intro p {
    color: black;
    font-size: 25px;
    margin: 10%;
}

.Link-Button {
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(red, tomato);
    border-radius: 10px;
    color: white;
    position: relative;
    bottom: 50px;

}

.H1-Black {
    color: black;
}

.Donate-taka {
    text-align: center;
}

.Donate-taka p {
    font-size: 20px;
    margin: 80px;
}

.Ammount-Taka {
    display: flex;
    text-align: center;
}

.Ammount-Taka>div {

    margin: 20px;
    padding: 30px;
    padding-left: 50px;
    font-size: 40px;
    position: relative;
    left: 60px;
}

#Special-Taka {
    background-image: linear-gradient(pink, tomato);
    border-style: solid;
    border-width: 2px;
    border-color: tomato;

}

.Same-color-taka {
    background-image: linear-gradient(gray, white);
}

#Horizontal-Line {
    position: relative;
    top: 30px;
    padding-right: 25%;
    padding-left: 25%;
}

#link-button-position {
    position: relative;
    top: 20px;
}

#Donate-plan-Color {
    color: black;
}

.Our-Donate-Plan {
    text-align: center;
}

.Our-Donate-Plan p {
    padding-left: 100px;
    padding-right: 100px;
}

.food-sheltar-education {
    display: flex;
    margin: 3%;
    text-align: justify;

}

.food-sheltar-education img {
    width: 40%;
    position: relative;
    left: 70px;
}

.food-sheltar-education p {
    padding: 15px;
}

.food-sheltar-education h4 {
    text-align: left;
    padding-left: 10px;
}

.food-sheltar-education-width {
    width: 25%;
    margin: 5%;
    background-color: aqua;
}

.Food-For-Family {
    background-color: cornflowerblue;
    opacity: inherit;
    border-radius: 5px;
}

.Sheltar-For-Family {
    background-color: gray;
    opacity: inherit;
    border-radius: 5px;
}

.Education-for-child {
    background-color: darksalmon;
    opacity: inherit;
    border-radius: 5px;
}

.Fourth-Banner {
    position: relative;
    top: 80px;
}

.Get-our-updates {
    text-align: center;
}

.Get-our-updates p {
    padding-left: 100px;
    padding-right: 100px;
}

#Get-our-donates-h1 {
    color: black;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    margin: 200px;
    background-color: papayawhip;
    position: relative;
    bottom: 120px;
}

.box input {
    padding: 10px 40px;
    background-color: lavender;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.box button {
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(tomato, blue);
}

footer h5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: crimson;

}

footer {
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    height: 150px;

}